/* Общие стили */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
    color: #333;
}

h1 {
    text-align: center;
    color: #444;
    margin-bottom: 30px;
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff6600;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #ff8533;
}

/* Стили для таблицы */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 6px 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #ff6600;
    color: white;
    font-size: 1rem;
}

td {
    font-size: 0.9rem;
    color: #555;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.logout-link, .home-link {
    text-align: center;
    margin-top: 20px;
}

/* Общие стили для кнопок */
button, a {
    background-color: #ff6600;
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border: none;
    border-radius: 50px;
    font-size: 1.2rem;
    cursor: pointer;
    display: inline-block;
    /* margin: 20px 20px 20px 20px; */
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-align: center;
}

/* Эффект наведения */
button:hover, a:hover {
    background-color: #ff8533;
    transform: scale(1.05);
}

/* Специальные стили для ссылок */
a { 
    /* margin: 20px 20px 20px 20px; */
    text-align: center;
}

/* Стили для кастомного select */
select {
    margin: 10px 50px 10px 10px;
    padding: 10px 15px;
    background-color: #fff;
    border: 2px solid #ff6600;
    border-radius: 10px;
    font-size: 1.1rem;
    color: #333;
    cursor: pointer;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Эффект наведения */
select:hover {
    border-color: #ff8533;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Стиль для стрелки */
select::-ms-expand {
    display: none; /* Убирает стрелку в IE */
}

/* Для Webkit-браузеров */
select {
    appearance: none; /* Убирает стандартный вид */
    -webkit-appearance: none; /* Убирает стандартный вид для Chrome/Safari */
}

/* Добавить пользовательскую стрелку */
.custom-select-wrapper {
    position: relative;
    display: inline-block;
}

.custom-select-wrapper::after {
    content: '▼';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #ff6600;
}

